/* GENERALI */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%);
    font-family: 'Roboto', sans-serif;
}

.root {
    height: 100vh;
    width: 100vw;
}

/* .debug {
    border: 1px solid white;
} */

/* CONTAINER CENTRALE */
.main-container {
    width: 85vw;
    height: 90vh;
    margin: 0 auto;
    min-width: 900px;
}

.main-container::after {
    display: table;
    clear: both;
    content: "";
}

.right-container {
    float: left;
    width: 60%;
    height: 100%;
}

.root.flex {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* LEFT CONTAINER */
.left-container {
    float: left;
    width: 30%;
    height: 100%;
}

/* LEFT-HEADER-USER */
.left-header-user {
    height: 70px;
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
}

.left-header-user.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-username.flex {
    display: flex;
    align-items: center;
}

.my-username img {
    border-radius: 50%;
    width: 50px;
}

.left-header-icons .fas {
    color: #b1b1b1;
    margin-right: 12px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* LEFT-HEADER-NOTIFY */
.left-header-notify {
    height: 80px;
    background-color: #8edafc;
    padding-left: 15px;
    padding-right: 5px;
}

.left-header-notify.flex {
    display: flex;
    align-items: center;
}

.notify-image.flex {
    display: flex;
    align-items: center;
}

.notify-image .fas {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    color: #8edafc;
    font-size: 1.2rem;
    line-height: 50px;
    text-align: center;
}

.notify-text a {
    color: #4f7485;
}

/* LEFT-SEARCH-BAR */
.left-search-bar {
    height: 50px;
    background-color: #fafafa;
    padding-left: 5px;
    padding-right: 5px;
}

.left-search-bar.flex {
    display: flex;
    align-items: center;
    position: relative;
}

.left-search-bar .search-user {
    width: 100%;
    height: 70%;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
    padding-left: 60px;
    outline: none;
}

.left-search-bar .search-user::placeholder {
    color: #e1d9dd;
    margin-left: 100px;
}

.left-search-bar .fas {
    color: #b6b9bb;
    position: absolute;
    left: 25px;
    z-index: 2;
}

.left-users-list {
    background-color: #ffffff;
    height: calc(100% - 70px - 80px - 50px);
}

.users-list li.flex {
    display: flex;
}

.left-users-list li {
    list-style-type: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 8px 15px;
    cursor: pointer;
}

.left-users-list li:hover{
    background-color: #8edafc;
}

.left-users-list img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* RIGHT CONTAINER */
.right-container {
    float: left;
    width: 70%;
    height: 100%;
    border-left: 1px solid #dddbd1;
}

/* RIGHT-HEADER-USER */
.right-header-user {
    height: 70px;
    background-color: #eaeaea;
    padding-left: 10px;
    padding-right: 10px;
}

.right-header-user.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username.flex {
    display: flex;
    align-items: center;
}

.username img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.username h5 {
    color: grey;
}

.right-header-icons .fas {
    color: #b1b1b1;
    margin-right: 12px;
    font-size: 1.2rem;
    cursor: pointer;
}

/* RIGHT-MESSAGES-LIST */
.right-messages-list {
    background-image: url("../img/mine.jpg");
    height: calc(100% - 70px - 70px);
}

/* RIGHT-INPUT-MESSAGE */
.right-input-message {
    height: 70px;
    background-color: #f3eeea;
}

.right-input-message.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-input-message .input-message {
    width: 95%;
    height: 70%;
    border-radius: 3px;
    border: 1px solid #f5f5f5;
    outline: none;
    padding-left: 15px;
}

.right-input-message .input-message::placeholder {
    color: #e1d9dd;
}

.right-input-message .fas,
.right-input-message .far {
    color: #6b7376;
    margin-left: 20px;
    margin-right: 18px;
    font-size: 1.2rem;
    cursor: pointer;
}
