<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://kit.fontawesome.com/4a941afab0.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <title>Boolzapp</title>
    </head>
    <body>
        <div class="root flex">
            <div class="main-container flex debug">
                <div class="left-container debug">
                    <div class="left-header-user flex">
                        <div class="my-username flex">
                            <img :src="myUsername.image" alt="Mio avatar">
                            <h4>{{myUsername.name}}</h4>
                        </div>
                        <div class="left-header-icons">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="left-header-notify flex">
                        <div class="notify-image flex">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notify-text">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <h5><a href="#">Attiva notifiche desktop</a></h5>
                        </div>
                    </div>
                    <div class="left-search-bar flex">
                        <i class="fas fa-search"></i>
                        <input type="text" @keyup="filterUser()" v-model="searchUser" class="search-user" name="" value="" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <div class="left-users-list">
                        <ul class="users-list">
                            <li @click="changeUserActive(index); changeColor()" v-bind:class="[element.selected ? 'active' : null, element.researched ? 'display-block' : 'display-none']" v-for="(element, index) in userList">
                                <img :src="element.image" alt="Immagine utente">
                                <h4>{{element.name}}</h4>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right-container debug flex">
                    <div class="right-header-user flex">
                        <div class="username flex">
                            <img :src="userList[currentIndex].image" alt="Immagine del profilo">
                            <div class="name-last-access">
                                <h4>{{userList[currentIndex].name}}</h4>
                                <h5>{{userList[currentIndex].lastAccess}}</h5>
                            </div>
                        </div>
                        <div class="right-header-icons">
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="right-messages-list">
                        <ul class="messages flex">
                            <li class="message" :class="{sent: userList[currentIndex].messages[index].type === 'sent', received: userList[currentIndex].messages[index].type === 'received'}" v-for="(element, index) in userList[currentIndex].messages">
                                <span>{{element.text}}</span>
                                <h5 class="date">{{element.date}}</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="right-input-message flex">
                        <i class="far fa-smile"></i>
                        <input class="input-message" type="text" name="" value="" v-model="myUsername.userMessage" @keyup.enter="sendMessage(currentIndex)" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/main.js" charset="utf-8"></script>

    </body>
</html>
